/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900*/


.container-fluid {
  font-family: "Roboto", serif;
  /*font-family: "Arial";*/
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.collapsible{
  margin-top:5px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.custom-input {
  height: 32px !important;
  padding: 4px 8px !important;
  font-size: 14px;
}

